<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
    </script>

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
        rel="stylesheet" type="text/css" />

</head>
<body>

    <h2>Check title</h2>
    <form action='checkPrice.html' method="post">
        {{ form2.tickerName.label }}<br>
        {{ form2.tickerName }}<br>
        {{ form2.currentPrice.label }}<br>
        {{ form2.currentPrice }}<br>
        {{ form2.checkPrice }}

    </form>



</body>
</html>